.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-wrapper h3 {
  font-size: 3rem;
  color: var(--primary);
}

.home-wrapper p {
  font-size: 2rem;
  margin-top: 50px;
  width: 100%;
}

@media (min-width: 960px) {
  .home-wrapper h3 {
    font-size: 5rem;
    color: var(--primary);
  }
}